

body{
  height: 100%;
  background-image: url('./background-pic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  align-content: center;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;

}


#container{
  display: grid;
  grid-gap: 1px;
  grid-template-rows: repeat(var(--grid-rows), 40px);
  grid-template-columns: repeat(var(--grid-cols), 40px);
  margin: 0 auto;
  border: 2px transparent yellow;
  justify-content: center;
}

.grid-item {
  padding: 5px;
  border: 1px solid black;
}

.header{
  text-align: center;
}

#gridButton{
  background-color: #02a8a8;
  border: none;
  color: white;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 10px;
  align-self: center;

}

#rgbButton {
  position: absolute;
  background-color: #02a8a8;
  border: none;
  color: white;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 10px;
  

}

#gridButton:hover {
  background-color: #018383;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
